*~
*/*~
__pycache__/*
*.h5
*.pkl
*.vtk
*.pyc
*.csv
exit1
gaussian_process/*.xyz*
gaussian_process/*.cfg
gaussian_process/*.traj
gaussian_process/*.xml*
gaussian_process/sparse*
gaussian_process/*.tmp
